# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea/
sparklearn.iml
graphx/target/
graphx/graphx.iml
sql/target/
sql/sql.iml
WordCount/target/
WordCount/WordCount.iml